# SPDX-FileCopyrightText: 2026 M5Stack Technology CO LTD
# SPDX-License-Identifier: MIT

menuconfig SMOOTH_UI_COMPONENT_ENABLED
    bool "Smooth UI Toolkit"
    default n
    help
        Enable the Smooth UI Toolkit component.
